[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
header{
    background-image: url(https://cdn.pixabay.com/photo/2020/02/23/21/53/house-4874740_1280.jpg);
   height: 100px;
    width: 100%;
    background-size: 100% 100%;
    color: yellow;
    position: fixed;
}
body{
    margin: 0px;
    background-color: yellow;
}
#Facts{
    background-color: green;
    margin-top: 100px;
    padding: 10px;
    border-style: solid;
    border-color: antiquewhite;
}
#Artikel{ 
    background-color: darkcyan;
    padding: 5px;
    margin-top: 100px;
    }
.row{
    padding: 15px;
    display: flex;
}
img{
    float: right;
}
#Artikel1{ 
    background-color: yellow;
}
@media  only screen and (max-width: 768px){
#Artikel1{ background-color:brown ;
}
}
li{ border: 2px;
    border-color: white;
    border-style: solid;
}
footer{
    background-image: url(Foto/pexels-gabriel-peter-833895\ \(3\).jpg);
    height: 100px;
    width: 100%;
    color: white;
}
@media only screen and (max-width: 768px){
footer{ background-image: url(Foto/Village\ path\ through\ the\ fields.jpg);
height: 100px;
width: 100%;
color: black;
background-size: 100% 100%;
}
}
#Footertekst{ color: black;
}
@media (min-width: 768px) {
    #footertekst::after {
        content: 'Een foto van grass'
    }
}
@media  (max-width:768px) {
#footertekst::after{content:'Nu zijn het een paar bomen';
 color: antiquewhite;
}
}